azure-mgmt-resource
azure-mgmt-subscription
azure-mgmt-network
azure-mgmt-compute
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-sql
azure-mgmt-web
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-storage
azure.identity
uuid
lxml