azure-mgmt-resource
azure-mgmt-subscription
azure-mgmt-network
azure-mgmt-compute
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-sql
azure-mgmt-web
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-storage
azure-mgmt-containerservice
azure-mgmt-apimanagement
azure-mgmt-batch
azure-mgmt-botservice
azure-mgmt-containerregistry
azure-mgmt-datafactory
azure-mgmt-datalake-store
azure-mgmt-eventhub
azure-mgmt-iothub
azure-mgmt-logic
azure-mgmt-machinelearningservices
azure-mgmt-redis
azure-mgmt-search
azure-mgmt-servicebus
azure-mgmt-signalr
azure-mgmt-streamanalytics
azure-mgmt-trafficmanager
azure-mgmt-cosmosdb
azure-mgmt-servicefabric
azure-mgmt-cdn
azure-mgmt-cognitiveservices
azure-mgmt-devtestlabs
azure-mgmt-media
azure-mgmt-monitor
azure-mgmt-relay
azure-mgmt-scheduler
azure-mgmt-eventgrid 
azure-mgmt-dns
azure-mgmt-containerinstance
azure-mgmt-storagesync
azure-mgmt-communication
azure-mgmt-datamigration
azure-mgmt-alertsmanagement
tqdm
pandas
openpyxl
azure.identity
uuid
lxml
logging